body {
  background: #222 url("background.png") no-repeat bottom right fixed;
  color: #fff;
  font-family: "Open Sans", Tahoma, Arial, Sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1pt dotted #fff;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

input, select {
  background-color: rgba(66, 66, 66, .8);
  border: 0;
  color: #fff;
  font-size: 1em;
  text-align: center;
  width: 50pt;
}

noscript p {
  background-color: #dd3333;
  color: #fff;
  font-family: consolas;
  width: 100%;
  padding: 5% 0;
  margin: 0;
  text-align: center;
}

kbd {
  font-family: consolas, monospace, arial;
  font-weight: bold;
  background-color: #181818;
  color: #fff;
  font-size: 0.95em;
  padding: 6pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  border-top: 2pt solid #aaa;
  border-right: 2pt solid #999;
  border-bottom: 2pt solid #444;
  border-left: 2pt solid #555;
  border-radius: 3pt;
}

#frmNb {
  width: 180pt;
}

#titles {
  padding: 4pt 0;
  margin-bottom: 2%;
}

#logo{
    float:left;
    width: 80px;
    padding-right: 10pt;
}

#reInit {
  padding: 10pt;
  text-align: center;
}

#reInit a {
  color: #666;
  border-color: #666;
  font-style: italic;
}

#reInit a:hover {
  color: #fff;
  border-color: #fff;
  font-style: normal;
}

#tips {
  color: #aaa;
  padding-top: 1%;
}

#finalTimeDiv, #titles, .section {
  border-left: 2pt solid #ff6c00;
}

#finalTimeDiv, #titles {
  background-color: rgba(66, 66, 66, .8);
  border-top: 1pt solid #111;
  border-bottom: 1pt solid #111;
}

#finalTimeDiv {
  min-height: 50pt;
  line-height: 2em;
  margin-top: 2%;
}
#finalTimeDiv p{
  margin: 0;
  padding: 1% 4%;
}
#finalTime{
  background-color: rgba(0,0,0,.8);
}

#titles, #listValues, #divResult, #tips {
  padding-left: 2%;
}

#footer, #tips {
  border-top: 1pt solid #333;
}

#footer {
  text-align: center;
  font-size: 0.8em;
}

#footer a {
  border: 0;
  color: #999;
}

#footer a:hover {
  color: #fff;
}

.customUserValue {
  font-style: italic;
  font-weight: 100;
  margin-left: 10pt;
}

.externalLink {
  font-family: consolas;
  font-size: .75em;
}

.section {
  padding-left: 4pt;
  margin: 4pt 0;
}

.section p {
  margin: 0;
  padding: 4pt;
}

.subSection {
  margin-left: 2.5%;
  padding-left: 10pt;
}

@media (max-width: 500pt) {
  body {
    background-image: none;
  }
  #titles{
    font-size:.8em;
  }
  #logo{
    float:none;
  }
}
